<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Mediafy SDK
  ~
  ~ Copyright 2024 Mars Technologies Ltd. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.mediafy.demo.kotlin.TheApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediafyDemoAppKotlin"
        tools:targetApi="31">

        <activity
            android:name="com.mediafy.demo.kotlin.activities.SplashScreenActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.mediafy.demo.kotlin.activities.MainActivity" />

        <activity android:name="com.mediafy.demo.kotlin.activities.ads.inapp.MediafyBanner320x50Activity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.inapp.MediafyBanner300x250Activity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.inapp.MediafyBannerMultisizeActivity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.inapp.MediafyVideoBannerActivity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.inapp.MediafyInterstitialActivity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.inapp.MediafyInterstitialMultiformatActivity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.inapp.MediafyVideoInterstitialActivity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.inapp.MediafyNativeActivity" />

        <activity android:name="com.mediafy.demo.kotlin.activities.ads.admob.AdMobBanner320x50Activity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.admob.AdMobBanner300x250Activity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.admob.AdMobVideoBannerActivity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.admob.AdMobInterstitialActivity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.admob.AdMobVideoInterstitialActivity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.admob.AdMobInterstitialMultiformatActivity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.admob.AdMobNativeActivity" />

        <activity android:name="com.mediafy.demo.kotlin.activities.ads.applovin.AppLovinBanner320x50Activity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.applovin.AppLovinBanner300x250Activity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.applovin.AppLovinVideoBannerActivity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.applovin.AppLovinInterstitialActivity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.applovin.AppLovinInterstitialMultiformatActivity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.applovin.AppLovinVideoInterstitialActivity" />
        <activity android:name="com.mediafy.demo.kotlin.activities.ads.applovin.AppLovinNativeActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1875909575462531~6255590079" />

    </application>

</manifest>